<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>POS TOKO | Laporan Tahunan</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- CSS -->
    <link href="/public/assets/css/main.css" rel="stylesheet">
    <link href="/public/assets/css/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- ICONS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.7.2/font/bootstrap-icons.min.css">
    <!-- Bundle JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</head>

<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
        <!-- Header -->
        <div class="app-header header-shadow">
            <div class="app-header__logo">
                <div class="logo-src"></div>
                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
                            data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                <span>
                    <button type="button"
                        class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>
            <div class="app-header__content">
                <div class="app-header-left">
                    <div class="search-wrapper">
                        <div class="input-holder">
                            <input type="text" class="search-input" placeholder="Type to search">
                            <button class="search-icon"><span></span></button>
                        </div>
                        <button class="close"></button>
                    </div>
                    <ul class="header-menu nav">
                        <li class="nav-item">
                            <a href="javascript:void(0);" class="nav-link">
                                <i class="nav-link-icon fa fa-database"> </i>
                                Statistics
                            </a>
                        </li>
                        <li class="btn-group nav-item">
                            <a href="javascript:void(0);" class="nav-link">
                                <i class="nav-link-icon fa fa-edit"></i>
                                Projects
                            </a>
                        </li>
                        <li class="dropdown nav-item">
                            <a href="javascript:void(0);" class="nav-link">
                                <i class="nav-link-icon fa fa-cog"></i>
                                Settings
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="app-header-right">
                    <div class="header-btn-lg pr-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="btn-group">
                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                            class="p-0 btn">
                                            <img width="42" class="rounded-circle" src="assets/images/avatars/1.jpg"
                                                alt="">
                                            <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                        </a>
                                        <div tabindex="-1" role="menu" aria-hidden="true"
                                            class="dropdown-menu dropdown-menu-right">
                                            <button type="button" tabindex="0" class="dropdown-item">User
                                                Account</button>
                                            <button type="button" tabindex="0" class="dropdown-item">Settings</button>
                                            <h6 tabindex="-1" class="dropdown-header">Header</h6>
                                            <button type="button" tabindex="0" class="dropdown-item">Actions</button>
                                            <div tabindex="-1" class="dropdown-divider"></div>
                                            <button type="button" tabindex="0" class="dropdown-item">Dividers</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content-left  ml-3 header-user-info">
                                    <div class="widget-heading">
                                        Alina Mclourd
                                    </div>
                                    <div class="widget-subheading">
                                        VP People Manager
                                    </div>
                                </div>
                                <div class="widget-content-right header-user-info ml-3">
                                    <button type="button"
                                        class="btn-shadow p-1 btn btn-primary btn-sm show-toastr-example">
                                        <i class="fa text-white fa-calendar pr-1 pl-1"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- MAIN -->
        <div class="app-main">
            <!-- SIDEBAR -->
            <div class="app-sidebar sidebar-shadow">
                <div class="scrollbar-sidebar">
                    <div class="app-sidebar__inner">
                        <ul class="vertical-nav-menu">
                            <li>
                                <a href="index.html" id="navbar__dashboard">
                                    <i class="metismenu-icon pe-7s-rocket"></i>
                                    Dashboard
                                </a>
                            </li>
                            <li>
                                <a href="kasir.html" id="navbar__kasir">
                                    <i class="metismenu-icon pe-7s-diamond"></i>
                                    Kasir
                                </a>
                            </li>
                            <li class="mm-active">
                                <a href="#">
                                    <i class="metismenu-icon pe-7s-car"></i>
                                    Laporan
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul class="mm-show">
                                    <li>
                                        <a href="laporan_harian.html" id="navbar_harian">
                                            <i class="metismenu-icon">
                                            </i>Harian
                                        </a>
                                    </li>
                                    <li>
                                        <a href="laporan_bulanan.html" id="navbar_bulanan">
                                            <i class="metismenu-icon">
                                            </i>Bulanan
                                        </a>
                                    </li>
                                    <li>
                                        <a href="laporan_tahunan.html" id="navbar_tahunan">
                                            <i class="metismenu-icon">
                                            </i>Tahunan
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="barang.html" id="navbar__barang">
                                    <i class="metismenu-icon pe-7s-display2"></i>
                                    Barang
                                </a>
                            </li>
                            <li>
                                <a href="dashboard-boxes.html">
                                    <i class="metismenu-icon pe-7s-display2"></i>
                                    Dashboard Boxes
                                </a>
                            </li>
                            <li>
                                <a href="forms-controls.html">
                                    <i class="metismenu-icon pe-7s-mouse">
                                    </i>Forms Controls
                                </a>
                            </li>
                            <li>
                                <a href="forms-layouts.html">
                                    <i class="metismenu-icon pe-7s-eyedropper">
                                    </i>Forms Layouts
                                </a>
                            </li>
                            <li>
                                <a href="forms-validation.html">
                                    <i class="metismenu-icon pe-7s-pendrive">
                                    </i>Forms Validation
                                </a>
                            </li>
                            <li>
                                <a href="charts-chartjs.html">
                                    <i class="metismenu-icon pe-7s-graph2">
                                    </i>ChartJS
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END SIDEBAR -->
            <!-- MAIN Content -->
            <div class="app-main__outer">
                <div class="app-main__inner">
                    <!-- TITLE -->
                    <div class="app-page-title">
                        <div class="page-title-wrapper">
                            <div class="page-title-heading">
                                <div class="page-title-icon">
                                    <i class="pe-7s-wallet icon-gradient bg-plum-plate">
                                    </i>
                                </div>
                                <div>Laporan Tahunan
                                    <div class="page-title-subheading">
                                        Laporan
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END TITLE -->
                    <!-- CARD DASHBOARD -->
                    <div class="row">
                        <!-- total pendapatan -->
                        <div class="col-sm-6 col-md-4 col-xl-3 p-3">
                            <div class="card mb-0 widget-content row">
                                <div class="content">
                                    <div class="widget-content-left row mb-2">
                                        <i class="pe-7s-cash col-2" style="font-size: 30px;"></i>
                                        <div class="widget-heading col-10 widget__title">Total Pendapatan</div>
                                    </div>
                                    <div class="widget-content-right">
                                        <div class="widget-numbers mb-2"><span>Rp 5.000.000</span></div>
                                        <div class="perubahan row">
                                            <div class="widget-subheading col-10" id="total_pendapatan">
                                                -2000000
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- total keuntungan -->
                        <div class="col-sm-6 col-md-4 col-xl-3 p-3">
                            <div class="card mb-0 widget-content row">
                                <div class="content">
                                    <div class="widget-content-left row mb-2">
                                        <i class="pe-7s-graph1 col-2" style="font-size: 30px;"></i>
                                        <div class="widget-heading col-10 widget__title">Total Keuntungan</div>
                                    </div>
                                    <div class="widget-content-right">
                                        <div class="widget-numbers mb-2"><span>Rp 5.000.000</span></div>
                                        <div class="change row" id="change">
                                            <div class="widget-subheading col-10" id="total_keuntungan">
                                                2000000
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- total order -->
                        <div class="col-sm-6 col-md-4 col-xl-3 p-3">
                            <div class="card mb-0 widget-content row">
                                <div class="content">
                                    <div class="widget-content-left row mb-2">
                                        <i class="pe-7s-news-paper col-2" style="font-size: 30px;"></i>
                                        <div class="widget-heading col-10 widget__title">Total Order</div>
                                    </div>
                                    <div class="widget-content-right">
                                        <div class="widget-numbers mb-2"><span>Rp 5.000.000</span></div>
                                        <div class="change row" id="change">
                                            <div class="widget-subheading col-10" id="total_order">
                                                -20
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- total barang terjual -->
                        <div class="col-sm-6 col-md-4 col-xl-3 p-3">
                            <div class="card mb-0 widget-content row">
                                <div class="content">
                                    <div class="widget-content-left row mb-2">
                                        <i class="pe-7s-box2 col-2" style="font-size: 30px;"></i>
                                        <div class="widget-heading col-10 widget__title">Total Barang Terjual</div>
                                    </div>
                                    <div class="widget-content-right">
                                        <div class="widget-numbers mb-2"><span>Rp 5.000.000</span></div>
                                        <div class="change row" id="change">
                                            <div class="widget-subheading col-10" id="total_barang">
                                                -8
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- END CARD DASHBOARD -->
                    <!-- Barang Terjual -->
                    <div class="barang__terjual__section">
                        <div class="main-card mb-3 card">
                            <div class="card-body">
                                <h5 class="card-title text-center">Barang Terjual</h5>
                                <div class="filter__bulanan row">
                                    <div class="dropdown col-2">
                                        <button class="btn btn-secondary dropdown-toggle px-lg-5 my-2" type="button"
                                            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            Tahun
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li><a class="dropdown-item" href="#">2022</a></li>
                                            <li><a class="dropdown-item" href="#">2021</a></li>
                                            <li><a class="dropdown-item" href="#">2020</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <table class="mb-0 table" id="barang_terjual">
                                    <thead>
                                        <tr>
                                            <th>Tanggal</th>
                                            <th>No. Kasir</th>
                                            <th>Barcode</th>
                                            <th>Nama Barang</th>
                                            <th>Jumlah</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">12-12-2000</th>
                                            <td>123456789012</td>
                                            <td>123456789012</td>
                                            <td>Indomie goreng rendang</td>
                                            <td>2000</td>
                                            <td>2.000.000</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- end barang terjual -->
                    <!--Laporan -->
                    <div class="row mb-3 justify-content-center">
                        <!-- Barang terlaris -->
                        <div class="col-sm-3 col-xl-3">
                            <!-- barang terlaris -->
                            <div class="card mb-2">
                                <div class="card-header">
                                    Barang Terlaris
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item pb-0">
                                        <div class="row">
                                            <div class="col-10">
                                                Chitatos
                                                <br>
                                                <small class="text-muted">Makanan</small>
                                            </div>
                                            <div class="col-2 align-self-center">
                                                8
                                            </div>
                                        </div>
                                        <hr class="m-1">
                                    </li>
                                    <li class="list-group-item pb-0">
                                        <div class="row">
                                            <div class="col-10">
                                                Chitatos
                                                <br>
                                                <small class="text-muted">Makanan</small>
                                            </div>
                                            <div class="col-2 align-self-center">
                                                8
                                            </div>
                                        </div>
                                        <hr class="m-1">
                                    </li>
                                    <li class="list-group-item pb-0">
                                        <div class="row">
                                            <div class="col-10">
                                                Chitatos
                                                <br>
                                                <small class="text-muted">Makanan</small>
                                            </div>
                                            <div class="col-2 align-self-center">
                                                8
                                            </div>
                                        </div>
                                        <hr class="m-1">
                                    </li>
                                    <li class="list-group-item pb-0">
                                        <div class="row">
                                            <div class="col-10">
                                                Chitatos
                                                <br>
                                                <small class="text-muted">Makanan</small>
                                            </div>
                                            <div class="col-2 align-self-center">
                                                8
                                            </div>
                                        </div>
                                        <hr class="m-1">
                                    </li>
                                    <li class="list-group-item pb-0">
                                        <div class="row">
                                            <div class="col-10">
                                                Chitatos
                                                <br>
                                                <small class="text-muted">Makanan</small>
                                            </div>
                                            <div class="col-2 align-self-center">
                                                8
                                            </div>
                                        </div>
                                        <hr class="m-1">
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- kategori terlaris -->
                        <div class="col-sm-3 col-xl-3">
                            <div class="card mb-2">
                                <div class="card-header">
                                    Kategori Terlaris
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item pb-0">
                                        <div class="row">
                                            <div class="col-10">
                                                Chitatos
                                                <br>
                                                <small class="text-muted">Makanan</small>
                                            </div>
                                            <div class="col-2 align-self-center">
                                                8
                                            </div>
                                        </div>
                                        <hr class="m-1">
                                    </li>
                                    <li class="list-group-item pb-0">
                                        <div class="row">
                                            <div class="col-10">
                                                Chitatos
                                                <br>
                                                <small class="text-muted">Makanan</small>
                                            </div>
                                            <div class="col-2 align-self-center">
                                                8
                                            </div>
                                        </div>
                                        <hr class="m-1">
                                    </li>
                                    <li class="list-group-item pb-0">
                                        <div class="row">
                                            <div class="col-10">
                                                Chitatos
                                                <br>
                                                <small class="text-muted">Makanan</small>
                                            </div>
                                            <div class="col-2 align-self-center">
                                                8
                                            </div>
                                        </div>
                                        <hr class="m-1">
                                    </li>
                                    <li class="list-group-item pb-0">
                                        <div class="row">
                                            <div class="col-10">
                                                Chitatos
                                                <br>
                                                <small class="text-muted">Makanan</small>
                                            </div>
                                            <div class="col-2 align-self-center">
                                                8
                                            </div>
                                        </div>
                                        <hr class="m-1">
                                    </li>
                                    <li class="list-group-item pb-0">
                                        <div class="row">
                                            <div class="col-10">
                                                Chitatos
                                                <br>
                                                <small class="text-muted">Makanan</small>
                                            </div>
                                            <div class="col-2 align-self-center">
                                                8
                                            </div>
                                        </div>
                                        <hr class="m-1">
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Laporan Bulanan -->
                        <div class="col-sm-3 col-xl-6">
                            <div class="card mb-2">
                                <div class="card-header">
                                    Laporan Tahunan
                                </div>
                                <table id="pendapatan_tertinggi" class="table laporan__bulanan">
                                    <thead>
                                        <tr>
                                            <th>Tahun</th>
                                            <th>Pendapatan</th>
                                            <th>Aksi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>2022</td>
                                            <td>Rp 5.000.000</td>
                                            <td><button class="btn btn-link rounded-pill">Detail</button></td>
                                        </tr>
                                        <tr>
                                            <td>Januari, 2022</td>
                                            <td>Rp 5.000.000</td>
                                            <td><button class="btn btn-link rounded-pill">Detail</button></td>
                                        </tr>
                                        <tr>
                                            <td>Januari, 2022</td>
                                            <td>Rp 5.000.000</td>
                                            <td><button class="btn btn-link rounded-pill">Detail</button></td>
                                        </tr>
                                        <tr>
                                            <td>Januari, 2022</td>
                                            <td>Rp 5.000.000</td>
                                            <td><button class="btn btn-link rounded-pill">Detail</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <hr class="m-1">
                            </div>
                        </div>
                    </div>
                    <!-- end laporan -->

                </div>
                <div class="app-wrapper-footer">
                    <div class="app-footer">
                        <div class="app-footer__inner">
                            Toko Rian
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN Content -->
            <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        </div>
        <!-- END MAIN -->
    </div>
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Datatable -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js">
    </script>
    <!-- JS -->
    <script type="text/javascript" src="/public/assets/scripts/main.js"></script>
    <script type="text/javascript" src="/public/assets/scripts/script.js"></script>
</body>

</html>